
* {
    box-sizing: border-box;
}

.sidebar__container {
    /* max-width: 373px; */
    margin-left: auto;
    width: 100%;
    min-height: 100vh;
    background-color: #191919;
}

.sidebar__head {
    width: 100%;
    max-width: 100%;
    background-color: #2B2B2B;
    padding: 2em 1.8em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.7px;
}

.sidebar__avatar {
    flex: 0 0 auto;
    display: block;
    width: 3.6em;
    height: 3.6em;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.sidebar__name-wrap {
    max-width: 54%;
    margin-left: 1em;
    margin-right: 1em;
    overflow: hidden;
    flex: 1 1 auto;
}

.sidebar__name {
    font-weight: 700;
    font-size: 1.6em;
    color: #fff;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar__city {
    margin-top: 0.4em;
    font-size: 1.1em;
    color: #FFAE00;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar__logout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    color: #616161;
    font-size: 1.6em;
    min-width: 90px;
    text-decoration: none;
    overflow: hidden;
    border: none;
    outline: none;
}

.sidebar__logout span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar__logout svg {
    flex: 0 0 auto;
    display: block;
    margin-left: 0.3em;
    width: 1em;
    height: 1em;
    fill: #616161;
}

.sidebar__body {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 1.5em 0;
}

.sidebar__content {
    flex: 1 1 auto;
    padding: 0 1em;
    max-width: 100%;
}

.sidebar__content_block {
    width: 100%;
    border: 1px solid #2B2B2B;
    border-radius: 5px;
}

.sidebar__content_block + .sidebar__content_block {
    margin-top: 3em;
}

.sidebar__content_block-head {
    width: 100%;
    background-color: #2B2B2B;
    padding: 2em 1.8em;
}

.scatter__block {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.7px;
}

.scatter__logo {
    flex: 0 0 auto;
    display: block;
    width: 3.6em;
    height: 3.6em;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.scatter__name-wrap {
    max-width: calc(100% - 4.6em);
    margin-left: 1em;
    overflow: hidden;
    flex: 1 1 auto;
}

.scatter__name {
    font-weight: 700;
    font-size: 1.6em;
    color: #fff;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scatter__status-wrap {
    margin-top: 0.4em;
    font-size: 1.3em;
    font-weight: 900;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.scatter__status {
    color: #FFAE00;
    padding-right: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scatter__detach {
    border-left: 1px solid #616161;
    padding-left: 1em;
    color: #616161;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scatter__btn-wrap {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.scatter__btn {
    font-family: 'Muller';
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    outline: none;
    background-color: #292929;
    border-radius: 4px;
    border: none;
    color: #fff;
    flex: 1 1 auto;
    font-size: 1.6em;
    max-width: 100%;
    margin: 0 0.2em 0.3em;
}

.scatter__btn span {
    max-width: calc(100% - 1.5em);
    overflow: hidden;
    text-overflow: ellipsis;
}

.scatter__btn svg {
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
}

.scatter__download {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    display: inline-block;
    color: #FFAE00;
    font-size: 1.3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.sidebar__content_block-body {
    max-width: 100%;
    padding: 2em 0.8em 1em;
    text-align: center;
}

.sidebar__content_block-title {
    font-size: 1.8em;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.sidebar__account-name_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Muller';
}

.sidebar__account-name {
    font-size: 1.6em;
    color: #fff;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar__account-value {
    margin-left: 1em;
    font-size: 1.6em;
    color: #FFAE00;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar__balance-wrap {
    margin-top: 3em;
    border-radius: 6px;
    background-color: #131313;
}

.sidebar__balance-head {
    padding: 1.6em 0.5em 1.8em;
    border-bottom: 1px solid #2B2B2B;
}

.sidebar__balance-title {
    font-family: 'Muller';
    font-size: 1.6em;
    color: #fff;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar__balance {
    margin-top: 0.8em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.sidebar__balance-coin {
    color: #FFAE00;
    font-size: 1.6em;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar__balance-value {
    font-size: 1.6em;
    margin-top: 0.4em;
    color: #616161;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar__balance-body {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.sidebar__balance-content {
    width: 50%;
    padding: 1.6em 0.5em 1.8em;
    position: relative;
}

.sidebar__balance-content+.sidebar__balance-content:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 5em;
    background-color: #2B2B2B;
}

.sidebar__slider-wrap {
    max-width: 100%;
    margin-top: 2em;
}

.sidebar__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'Muller';
    color: #fff;
    border: 1px solid #2B2B2B;
    background-color: #131313;
    border-radius: 6px;
    padding: 0.6em 0.8em;
    overflow: hidden;
}

.sidebar__slider+.sidebar__slider {
    margin-top: 1em;
}

.sidebar__slider:before {
    z-index: 5;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border: 2px solid #131313;
    border-radius: 5px;
}

.sidebar__slider-percent {
    z-index: 0;
    position: absolute;
    height: calc(100% - 4px);
    max-width: calc(100% - 4px);
    background-color: #FFAE00;
    top: 2px;
    left: 2px;
}

.sidebar__slider-title {
    font-size: 1.2em;
    position: relative;
    z-index: 10;
}

.sidebar__slider-value {
    font-size: 1.2em;
    position: relative;
    z-index: 10;
}

.sidebar__slider-value span {
    color: #616161;
}

.sidebar__content_block-footer {
    padding: 0.8em 1em;
    border-top: 1px solid #2B2B2B;
    background-color: #131313;
    border-radius: 0 0 6px 6px;
    font-size: 1.6em;
    color: #fff;
    font-family: 'Muller';
}

.sidebar__content_block-footer span {
    color: #FFAE00;
}

.sidebar__tabs-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 0 0 auto;
}

.sidebar__tabs-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    border: none;
    outline: none;
    font-size: 1.5em;
    color: #616161;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    margin: 0;
    padding: 1em 1.1em;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease;
    letter-spacing: 0.7px;
}

.sidebar__tabs-item.active {
    background-color: #191919;
    color: #FFAE00;
}

.sidebar__tabs-item span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.sidebar__tabs-item svg {
    fill: #616161;
    width: 1em;
    height: 1em;
    margin-top: 0.7em;
    transition: fill 0.4s ease;
}

.sidebar__tabs-item.active svg {
    fill: #FFAE00;
}
