.ticker__wrap {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-size: 1em;
    font-family: 'Muller';
    background-color: #141414;
    border-top: 2px solid rgba(255, 175, 2, 0.151);
}

.ticker__container {
    padding: 0.4em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ticker__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.8em 1.3em;
    background-color: #1E1E1E;
}

.ticker__item+.ticker__item {
    margin-left: 0.4em;
}

.ticker__item.positive svg {
    fill: #0EC500;
}

.ticker__item.positive .ticker__item-value {
    color: #0EC500;
}

.ticker__item.half-positive svg {
    fill: #4D754A;
}

.ticker__item.half-positive .ticker__item-value {
    color: #4D754A;
}

.ticker__item.negative svg {
    fill: #BB0028;
}

.ticker__item.negative .ticker__item-value {
    color: #BB0028;
}

.ticker__item-name {
    font-size: 1.8em;
    color: #fff;
}

.ticker__item svg {
    margin-left: 1.4em;
    margin-right: 0.4em;
    width: 1.4em;
    height: 1.5em;
    fill: #616161;
}

.ticker__item-value {
    position: relative;
    top: 0.1em;
    font-size: 1.8em;
    color: #616161;
}
